{% if comments is empty %}
    <div class="row text-center">
        <h4>No comments yet</h4>
    </div>
{% else %}
    {% for comment in comments %}
        <div class="row d-flex justify-content-start">
            <div class="col-sm-2 text-center">
                <img src="{{ asset('img/default-user-image.png') }}" alt="user image" class="img-thumbnail rounded-user-img w-50">
                <h4>{{ comment.user.name|capitalize }}</h4>
            </div>
            <div class="col-sm-10">
                <small>{{ comment.createdAt|date('d/m/Y, H:i:s') }}</small>
                <p>{{ comment.content }}</p>
            </div>
        </div>
    {% endfor %}
    {% if moreResults is same as(true) %}
    <div class="text-center mb-3">
        <button id="load-more-btn" type="button" class="loginBtn">Load more</button>
    </div>
    {% else %}
        <div class="text-center mb-3">
            <h4>no more comments</h4>
        </div>
    {% endif %}
{% endif %}

<script>
    $('#load-more-btn').click( function() {
        loadComments(commentPageLoadCount);
        this.remove();
    });
</script>