input[type="range"] {
  width: 100%;
}

/* ovrerride them value */
#portfolio .portfolio-item .portfolio-info {
  left: 12px;
  right: 12px;
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-info h4 {
  margin-bottom: 1.5em;
  width: 80%;
}

#portfolio .portfolio-item .portfolio-info .preview-link,
#portfolio .portfolio-item .portfolio-info .details-link {
  top: 50px;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInputLabel {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 10px 24px;
  background-color: #2dc997;
}

.fileInputLabel:hover {
  background: #51d8ad;
}

a.cancelBtn,
a.removeImgBtn {
  cursor: pointer;
  background: tomato;
  border: 0;
  padding: 11px 24px;
  color: #fff;
  transition: 0.4s;
}

a.removeImgBtn {
  position: relative;
  bottom: 30px;
}

a.cancelBtn:hover,
a.removeImgBtn:hover {
  background: red;
}


.removeCollectionItem {
  cursor: pointer;
  background: tomato;
  border: 0;
  padding: 7px 11px;
  border-radius: 30px;
  color: #fff;
  transition: 0.4s;
}

.trickVideo > .deletable > div:first-child {
  width: 90%;
}

btn {
  cursor: pointer;
}

#trickHero h1 {
  z-index: 5;
  font-size: 3.25em;
}

#trickHero {
  width: 100%;
  height: 40vh;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #trickHero {
    background-attachment: fixed;
  }
}

#trickHero::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.edit-btn {
  z-index: 5;
  text-align: center;
  position: absolute;
  right: 5px;
  top: 5px;
}

.edit-btn a {
  display: inline-block;
  height: 42px;
  width: 42px;
  color: white;
  font-size: 1.75em;
  border: 0.07em solid white;
  border-radius: 100%;
}

.small-img {
  max-width: 250px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  width: 600px;
  max-width: 75%;
}

.rounded-user-img {
  border-radius: 100%;
}

.trick-holder {
  min-height: 25vh;
}

.card-btn {
  display: inline-block;
  padding-left: 7px;
  height: 42px;
  width: 42px;
  color: white;
  font-size: 1.75em;
  border-radius: 100%;
  transition: all 0.4s ease-in;
}

.card-btn:hover {
  background-color: #2dc997;
  color: black;
}

.toast-container {
  z-index: 999;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
