{% extends 'meta.html.twig' %}

{% block base %}

    <!-- ======= Header ======= -->
    <header id="header"
            {% if app.request.attributes.get('_route') == 'home' %}
                class="header-transparent"
            {% endif %}
    >
        <div class="container d-flex justify-content-between">

            <div id="logo">
                <!-- Uncomment below if you prefer to use an img logo -->
                <!-- <a href="index.html"><img src="{{ asset('img/logo.png') }}" alt="snowtricks logo"></a> -->
                <h1><a href="/">Snowtricks</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{  path('trick_index') }}">Tricks</a></li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('security_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('security_signup') }}">Signup</a></li>
                        <li><a href="{{ path('security_login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="toast-container">
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-white bg-{{ label }}">
                        <strong class="me-auto">Information</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

    </div>

    {% block content %}
    {% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyleft <strong>Damien Adam</strong>. No Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            let toast = new bootstrap.Toast(toastEl, {
                animation: true,
                autohide: true,
                delay: 5000
            });
            toast.show();

            return toast;
        })
    </script>
{% endblock %}