{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Corduroy made, Pow proof</h1>
            <h2>All you need to go from grommet to steezy !</h2>
            <a href="{{ path('trick_index')}}" class="btn-get-started">See 'em tricks, bruv !</a>
        </div>
    </section><!-- End Hero Section -->

    <main id="main">
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h3 class="section-title mb-4">Tricks</h3>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="text-center mb-3">
                            <a href="{{ path('trick_create') }}" class="loginBtn">Create a trick</a>
                        </div>
                    {% else %}
                        <p class="section-description">Signup and create new tricks !</p>
                    {% endif %}
                </div>
                <div class="trick-holder" data-url="{{ path('trick_load') }}">

                </div>
            </div>
        </section><!-- End Portfolio Section -->
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let trickPageLoadCount = 1;
        let trickHolder = $('.trick-holder');
        let trickLoadUrl = trickHolder.data('url');

        window.onload = () => {
            loadTricks(trickPageLoadCount);
        };

        function loadTricks(page) {
            $.get(trickLoadUrl + '/' + page, function( data ) {
                trickHolder.append(data);
                trickPageLoadCount++;
            });
        }

    </script>
{% endblock %}