{% if tricks is empty %}
    <h4>No tricks here, soWWy</h4>
{% else %}
    {% for trick in tricks %}
        <div class="row d-flex justify-content-center align-items-center py-3 my-3"
            {% if trick.trickImages is not empty %}
                style="
                        background: linear-gradient(307deg, rgba(0,0,0,0.8295693277310925) 65%, rgba(140,140,140,1) 80%, rgba(255,255,255,1) 100%), url({{ asset('img/trick-image/'~trick.trickImages|first.fileName) }}) top center no-repeat;
                        background-size: cover;"
            {% else %}
                style="background: linear-gradient(307deg, rgba(0,0,0,0.8295693277310925) 65%, rgba(140,140,140,1) 80%, rgba(255,255,255,1) 100%) top center no-repeat;"
            {% endif %}>
            <div class="col-sm-2">
                {% if trick.trickImages is not empty %}
                    <img src="{{ asset('img/trick-image/'~trick.trickImages|first.fileName) }}" class="img-fluid" alt="">
                {% else %}
                    <img src="{{ asset('img/hero-bg.jpg') }}" class="img-fluid" alt="">
                {% endif %}
            </div>
            <div class="col-sm-6 text-center text-sm-start text-white">
                    <h4 class="mt-4 mt-sm-0">
                        <a href="{{ path('trick_show', {slug: trick.slug}) }}">
                            {{ trick.name }}
                        </a>
                    </h4>
                <p>{{ trick.updatedAt|date('d/m/Y') }}</p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="card-btn" href="{{ path('trick_edit', {trick: trick.id}) }}"><span class="bx  bx-pencil "></span></a>
                    <a class="card-btn" href="{{ path('trick_delete', {trick: trick.id}) }}"><span class="bx  bx-trash "></span></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if hasMoreResults is same as(true) %}
        <div class="text-center mb-3">
            <button id="load-more-btn" type="button" class="loginBtn">Load more</button>
        </div>
    {% else %}
        <div class="text-center mb-3">
            <h4>no more tricks</h4>
        </div>
    {% endif %}
{% endif %}

<script>
    $('#load-more-btn').click( function() {
        loadTricks(trickPageLoadCount);
        this.remove();
    });
</script>