{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Tricks{% endblock %}

{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Tricks</h2>
                    <ol>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li>Tricks</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page pt-4">
            <div class="container-fluid">
                <!-- ======= Portfolio Section ======= -->
                <section id="portfolio" class="portfolio">
                    <div class="container" data-aos="fade-up">
                        <div class="section-header">
                            <h3 class="section-title mb-4">Tricks</h3>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <div class="text-center mb-3">
                                    <a href="{{ path('trick_create') }}" class="loginBtn">Create a trick</a>
                                </div>
                            {% else %}
                                <p class="section-description">Signup and create new tricks !</p>
                            {% endif %}
                        </div>
                        <div class="trick-holder" data-url="{{ path('trick_load') }}">

                        </div>
                    </div>
                </section><!-- End Portfolio Section -->

            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let trickPageLoadCount = 1;
        let trickHolder = $('.trick-holder');
        let trickLoadUrl = trickHolder.data('url');

        window.onload = () => {
            loadTricks(trickPageLoadCount);
        };

        function loadTricks(page) {
            $.get(trickLoadUrl + '/' + page, function( data ) {
                trickHolder.append(data);
                trickPageLoadCount++;
            });
        }

    </script>
{% endblock %}