{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ trick.name}}{% endblock %}

{% block content %}

    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{ trick.name }}</h2>
                    <ol>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="{{ path('trick_index') }}">Tricks</a></li>
                        <li>{{  trick.name }}</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->
        <div class="container">
            <section id="trickHero" class="d-flex align-items-center justify-content-center text-white inner-page pt-4"
                {% if trick.trickImages is not empty %}
                    style="background: url({{ asset('img/trick-image/'~trick.trickImages|first.fileName) }}) top center no-repeat;" >
                {% else %}
                    style="background: url({{ asset('img/hero-bg.jpg') }}) top center no-repeat;" >
                {% endif %}
                <h1 class="w-75 pl-2">{{ trick.name }}</h1>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="edit-btn">
                        <a href="{{ path('trick_edit', {trick: trick.id}) }}"><span class="bx bx-pencil "></span></a>
                        <a href="{{ path('trick_delete', {trick: trick.id}) }}"><span class="bx bx-x "></span></a>
                    </div>
                {% endif %}
            </section>
            <div class="text-center mt-3">
                <button id="toggleMedia" type="submit" class="loginBtn">
                    Medias
                </button>
            </div>
            <div id="medias">
                {% if trick.trickImages is not empty %}
                    <section class="mt-3">
                        <h3 class="text-center">Images</h3>
                        <div class="row">
                            {% for trickImage in trick.trickImages %}
                                <div class="col-lg-4 col-md-6">
                                    <a href="{{ asset('img/trick-image/'~trickImage.fileName) }}">
                                            <img src="{{ asset('img/trick-image/'~trickImage.fileName) }}" class="img-fluid" alt="trick image">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
                {% if trick.trickVideos is not empty %}
                    <section class="mt-3">
                        <h3 class="text-center">Videos</h3>
                        <div class="row d-flex justify-content-center">
                            {% for trickVideo in trick.trickVideos %}
                                <div class="video-wrapper">
                                    <div class="video-container">
                                        {{ trickVideo.url|raw }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
            </div>
            <section class="mt-3">
                <h3 class="text-center">Description</h3>
                <p>{{ trick.description }}</p>
            </section>
            <section class="mt-3">
                <h3 class="text-center">Informations</h3>
                <div class="text-center">
                    <button type="button" class="loginBtn">author : {{ trick.user.name|capitalize }}</button>
                    <button type="button" class="loginBtn">created : {{ trick.createdAt|date('d/m/Y') }}</button>
                    {% if trick.createdAt != trick.updatedAt %}
                        <button type="button" class="loginBtn">updated : {{ trick.updatedAt|date('d/m/Y') }}</button>
                        <button type="button" class="loginBtn">{{ trick.rotation|default('0') }}°</button>
                    {% endif %}
                    {% if trick.slide is not empty %}
                        <button type="button" class="loginBtn">{{ trick.slide.name }}</button>
                    {% endif %}
                    {% if trick.grab is not empty %}
                        <button type="button" class="loginBtn">{{ trick.grab.name }}</button>
                    {% endif %}
                    {% if trick.variant is not empty %}
                        <button type="button" class="loginBtn">{{ trick.variant.name }}</button>
                    {% endif %}
                </div>
            </section>
            <hr>
            <section class="mt-3">
                <h3 class="text-center">comments section</h3>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="container">
                        <div class="form">
                            {{ form_start(commentForm) }}
                            <div class="row login-container d-flex justify-content-center mb-4">
                                <div class="col-lg-4 col-md-8">
                                    <div class="form-group mt-3">
                                        {{ form_row(commentForm.content, {'attr':
                                            {'class': 'form-control form-control-user', 'placeholder': 'Share your thoughts'}
                                        }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-3 text-center">
                            <button type="submit" class="loginBtn">
                                Comment
                            </button>
                        </div>
                        {{ form_end(commentForm) }}
                    </div>
                {% else %}
                    <p class="text-center">you must <a href="{{ path('security_login') }}">login</a> to leave a comment</p>
                {% endif %}
                <hr>
                <div class="comment-holder" data-url="{{ path('comment_load', {'trick': trick.id}) }}">

                </div>
            </section>
        </div>
    </main><!-- End #main -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let commentPageLoadCount = 1;
        let commentHolder = $('.comment-holder');
        let commentLoadUrl = commentHolder.data('url');

        window.onload = () => {
            loadComments(commentPageLoadCount);

            if (document.documentElement.clientWidth < 768) {
                $('#medias').hide();
                $('#toggleMedia').click(function(){
                    $('#medias').toggle(500);
                });
            } else $('#toggleMedia').hide();

        };

        function loadComments(page) {
            $.get(commentLoadUrl + '/' + page, function( data ) {
                commentHolder.append(data);
                commentPageLoadCount++;
            });
        }


    </script>
{% endblock %}