{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block content %}

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Login</h2>
                    <ol>
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li>Login</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page pt-4">
            <div class="container">
                <div class="row login-container d-flex justify-content-center mb-4">

                    <div class="col-lg-5 col-md-8">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        {% for label, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="form">
                            <form method="POST" role="form" class="user">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" value="{{ last_username }}"
                                           class="form-control form-control-user"
                                           placeholder="Email"
                                           aria-describedby="emailHelp" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="password">Password</label>
                                    <input name="password" type="password"
                                           class="form-control form-control-user"
                                           placeholder="Password">
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group mt-1">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="_remember_me">
                                        <label class="custom-control-label" for="customCheck">Remember me</label>
                                    </div>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class="text-center mt-2">
                                    <button type="submit" class="loginBtn">
                                        Login
                                    </button>
                                </div>
                            </form>
                            <div class="text-center">
                                <a class="small" href="/">Reset password</a> |
                                <a class="small" href="{{ path('security_signup') }}">Create account</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock %}